@use "sass:list";
@use "sass:map";
$blue-dark: hsl(213, 96%, 18%);
$blue-medium: hsl(243, 100%, 62%);
$blue-light: hsl(228, 100%, 84%);
$blue-light2: hsl(206, 94%, 87%);
$red: hsl(354, 84%, 57%);
$gray: hsl(231, 11%, 63%);
$light-gray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$white: hsla(0, 0%, 100%);
$black: hsla(0, 0%, 0%);

$font-family-primary: "Ubuntu", sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-xs: 0.8rem; /* 12px */
$font-size-sm: 0.875rem; /* 14px */
$font-size-sl: 0.9rem; /* 14px */
$font-size-base: 1rem;
$font-size-md: 1.125rem; /* 18px */
$font-size-lg: 1.25rem; /* 20px */
$font-size-xl: 1.5rem; /* 24px */
$font-size-xxl: 2rem; /* 32px */

$color-text-primary: $blue-dark;
$color-text-secondary: $gray;

$color-background-primary: $magnolia;
$color-background-secondary: $alabaster;

@mixin glass-effect($color: $grey, $opacity: 0.2) {
    &::before {
        $color-dark: color-mix(in oklab, color-mix(in oklab, $color 50%, black 50%) 50%, transparent 0%);
        $color-light: color-mix(in oklab, color-mix(in oklab, $color 50%, white 50%) 50%, transparent 0%);
        content: "";
        position: absolute;
        inset: -5px;
        background-image: radial-gradient(at 0% 0%, $color-light, transparent),
            radial-gradient(at 90% 90%, $color-dark, transparent);
        filter: blur(10px);
        border: 10px solid;
        border-top-color: var(--color-dark);
        border-left-color: var(--color-dark);
        border-bottom-color: var(--color-light);
        border-right-color: var(--color-light);
        border-radius: inherit;
        opacity: $opacity;
    }
}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin focusPseudo {
    position: relative;
    &::before {
        --_gap: var(--gap, 10px);
        --_radius: var(--radius, 15px);
        --size: calc(calc(var(--_gap) * 2) + 100%);
        --offset: calc(var(--_gap) * -1);
        content: "";
        display: flex;
        position: absolute;
        width: var(--size);
        height: var(--size);
        top: var(--offset);
        left: var(--offset);
        border: 3px solid;
        border-radius: var(--_radius, inherit);
        border-color: var(--focusColor, $blue-dark);
    }
}
