@use "../../styles/variables" as *;
.label {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: $white;
    border-radius: 0.5em;
    border: 2px solid $light-gray;
    padding: 20px 15px 15px 15px;
    height: 160px;
    justify-content: space-between;
    &:has(input:checked) {
        background-color: $magnolia;
    }
    &:hover,
    &:has(input:focus),
    &:has(input:focus) {
        border-color: $blue-medium;
    }
}
*:has(> label > .radio:focus-visible) {
    @include focusPseudo;
}
.radio {
    appearance: none;
    position: absolute;
    height: 0px;
}
.icon {
}
.textContainer {
    display: block;
    flex-direction: column;
    & span {
        display: block;
    }
}
.text,
.text {
    font-weight: 800;
    line-height: 1.5;
}
.descr {
    color: $gray;
    font-size: $font-size-sm;
}
.price {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    color: $blue-medium;
}
