@use "../styles/variables" as *;
$color-shadow: color-mix(in oklab, $blue-dark 10%, transparent 90%);

.multi-page-form {
    background-color: $white;
    display: flex;
    height: 600px;
    width: 100%;
    max-width: 940px;
    box-shadow: 2px 2px 10px 0px $color-shadow;
    border-radius: 10px;
    padding: 15px;
    overflow: hidden;
    column-gap: 15px;
}

@media screen and (max-width: 375px) {
    .multi-page-form {
        grid-template-rows: 40px auto;
        grid-template-columns: 100%;
    }
}
