.content {
    margin-top: 35px;
}
.content > div,
.content > label {
    margin-bottom: 20px;
}
h1:focus,
h1:focus-within {
    outline: 0;
    border: 0;
    &::after,
    &::before {
        display: none;
    }
}
