@use "../../styles/variables" as *;
.progressSidebar {
    width: 280px;
    height: 100%;
    background-color: $blue-medium;
    background-image: url(../../assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: inherit;
    background-position: bottom;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.sidebar__steps {
    position: relative;
    display: flex;
    height: 2rem;
    gap: 1rem;
    display: flex;
    width: 100%;
    max-width: 210px;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}
.sidebar__steps > .text {
    color: $white;
    text-align: left;
    font-size: $font-size-sm;
    & > p.step {
        font-size: $font-size-xs;
        line-height: 1.25em;
    }
}
.active .icon {
    background-color: $blue-light2;
    color: $blue-dark;
}
.icon {
    height: 100%;
    aspect-ratio: 1;
    border: 2px $light-gray solid;
    border-radius: 50%;
    @include flex-center;
    font-weight: 800;
    color: $white;
    &_selected {
        @extend .icon;
        border: 0px transparent solid;
    }
}

@media screen and (400px >= width) {
    .text {
        display: none;
    }
    .progressSidebar {
        position: relative;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        align-items: center;
        height: 110px;
        border-radius: 0;
        background-position: center;
        img {
            position: absolute;
            top: 0;
            content: url(../assets/images/bg-sidebar-mobile.svg);
            width: 100%;
        }
    }

    .sidebar__steps {
        margin: 0;
        width: fit-content;
    }
}
